.search-user-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1008;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-user-pop-up{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    min-height:500px;
    min-width:500px;
    display:flex;
    flex-direction: column;
    font-family: monospace;
    transition: all 1s ease-in-out;
    transform: scale(0);
    pointer-events: none;
}
.search-user-pop-up.visible{
    transform: scale(1);
    pointer-events: auto;
}
.close-button{
    display: flex;
    margin-top: auto;
    cursor: pointer;
    align-self: center;
    padding: 10px 30px;
    color: white;
    background-color: rgb(120, 10, 10);
    border-radius: 20px;
}
.close-button:hover{
    background-color: rgba(120, 10, 10, 0.5);
    color:black;
}
.search-user-header{
    display: flex;
    justify-content: center;
}
.search-bar-pop-up{
    padding: 20px;
    font-family: monospace;
    outline: none;
    width: 91.5%;
    border-style: solid;
}