html, body, #root{
  height:100%;
}
:root{
  height: 100%;
}
@font-face {
      font-family: 'Pixy';
      src: url('./assets/fonts/PIXY.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
}